In [7]:
import pandas as pd

### leer el csv de detalles_remax.csv
df = pd.read_csv("../data/detalles_remax.csv", sep=";")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Link                24 non-null     object
 1   Título              24 non-null     object
 2   Valor Alquiler      24 non-null     object
 3   Expensas            21 non-null     object
 4   Dirección           24 non-null     object
 5   Barrio              24 non-null     object
 6   Metros Cuadrados    24 non-null     float64
 7   Ambientes           24 non-null     int64
 8   Dormitorios         20 non-null     float64
 9   Baños               24 non-null     int64
 10  Cocheras            4 non-null      float64
 11  Años de Antigüedad  24 non-null     int64
 12  Descripción         24 non-null     object
dtypes: float64(3), int64(3), object(7)
memory usage: 2.6+ KB

In [2]:
import pandas as pd

### leer el csv de detalles_remax.csv
df = pd.read_csv("../data/detalles_zona.csv", sep=";")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11694 entries, 0 to 11693
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Link                11694 non-null  object
 1   Título              11694 non-null  object
 2   Valor Alquiler      11694 non-null  object
 3   Expensas            0 non-null      float64
 4   Dirección           11694 non-null  object
 5   Barrio              11694 non-null  object
 6   Metros Cuadrados    11486 non-null  float64
 7   Ambientes           11523 non-null  float64
 8   Dormitorios         8826 non-null   float64
 9   Baños               11268 non-null  float64
 10  Cocheras            2468 non-null   float64
 11  Años de Antigüedad  9633 non-null   float64
 12  Descripción         11688 non-null  object
dtypes: float64(7), object(6)
memory usage: 1.2+ MB

In [5]:
import pandas as pd

### leer el csv de detalles_remax.csv
df = pd.read_csv("../data/cleaned_data.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1606 entries, 0 to 1605
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Título                       1606 non-null   object
 1   Valor Alquiler               1606 non-null   int64
 2   Expensas                     1606 non-null   int64
 3   Dirección                    1606 non-null   object
 4   Barrio                       1606 non-null   object
 5   Metros Cuadrados             1606 non-null   int64
 6   Ambientes                    1606 non-null   int64
 7   Dormitorios                  1606 non-null   int64
 8   Baños                        1606 non-null   int64
 9   Cocheras                     1606 non-null   int64
 10  Años de Antigüedad           1606 non-null   int64
 11  Descripción                  1606 non-null   object
 12  Link                         1606 non-null   object
 13  Plataforma                   1606 non-null   object
 14  Moneda                       1606 non-null   object
 15  Valor Alquiler(normalizado)  1606 non-null   int64
 16  Amoblado                     1606 non-null   int64
 17  Barrio Principal             1606 non-null   object
 18  Expensas Predichas           1606 non-null   int64
 19  Id                           1606 non-null   int64
dtypes: int64(12), object(8)
memory usage: 251.1+ KB

In [9]:
import pandas as pd

### leer el csv de detalles_remax.csv
df = pd.read_csv("../data/detalles_zona.csv", sep=";")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11694 entries, 0 to 11693
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Link                11694 non-null  object
 1   Título              11694 non-null  object
 2   Valor Alquiler      11694 non-null  object
 3   Expensas            0 non-null      float64
 4   Dirección           11694 non-null  object
 5   Barrio              11694 non-null  object
 6   Metros Cuadrados    11486 non-null  float64
 7   Ambientes           11523 non-null  float64
 8   Dormitorios         8826 non-null   float64
 9   Baños               11268 non-null  float64
 10  Cocheras            2468 non-null   float64
 11  Años de Antigüedad  9633 non-null   float64
 12  Descripción         11688 non-null  object
dtypes: float64(7), object(6)
memory usage: 1.2+ MB